<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feras</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet" href="/assets/categories.css">
</head>

<body>


    <div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/img/logo.jpg" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/img/logo.jpg"" class=" d-block w-100" alt="Slide 2">
                <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/img/logo.jpg"" class=" d-block w-100" alt="Slide 3">
                <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                    <p></p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
        </button>

    </div>
    <section id="about" class="py-3">
        <section id="about" class="py-3">
            <div class="container">
                <h2>Sobre o FERA <i class="fa fa-eraser" aria-hidden="true"></i></h2>
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <p>O Festival Estudantil Rondoniense de Artes - FERA é uma realização do Governo do Estado de
                            Rondônia, por
                            meio da Secretaria de Estado da Educação - SEDUC/Diretoria Geral de Educação - DGE, através
                            da
                            Coordenadoria de Educação Física, Arte, Cultura e Esporte Escolar - CEFACEE, executado pela
                            Gerência de
                            Arte e Cultura Escolar - GACE com apoio das Coordenadorias Regionais de Educação - CRE dos
                            municípios
                            sede e das Escolas Estaduais de Ensino.</p>
                        <p>O FERA foi instituído de acordo com as suas atribuições e com base na Lei de Diretrizes e
                            Bases da
                            Educação Nacional (9394/96), pela Lei nº 4.239 de 27/03/18, e tem como objetivo incentivar e
                            valorizar a
                            Arte e a Cultura entre os alunos e profissionais da educação no âmbito escolar, nos diversos
                            segmentos e
                            linguagens artísticas da Rede Estadual de Ensino.</p>
                        <p>Além disso, busca ampliar a visibilidade da cultura e da arte educativa originadas nas
                            escolas estaduais,
                            promovendo a troca de conhecimentos entre estudantes e educadores de diversas regiões do
                            estado de
                            Rondônia.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="icons">
                            <div class="icon-item">
                                <i class="fa fa-paint-brush fa-3x"></i>
                                <h5>Arte</h5>
                                <p>Promover a expressão artística entre os alunos.</p>
                            </div>
                            <div class="icon-item">
                                <i class="fa fa-users fa-3x"></i>
                                <h5>Comunidade</h5>
                                <p>Fomentar a interação e colaboração entre estudantes e educadores.</p>
                            </div>
                            <div class="icon-item">
                                <i class="fa fa-calendar-alt fa-3x"></i>
                                <h5>Eventos</h5>
                                <p>Realizar eventos culturais que valorizam a educação.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </section>
    <section id="services" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <a href="#" class="card text-center">
                        <img src="/assets/img/Camera-pana.png" class="card-img-top" alt="Serviço 1">
                        <div class="card-body">
                            <h5>FOTOGRAFIA</h5>
                            <p class="card-text"></p>
                            <span class="stretched-link"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4">
                    <a href="#" class="card text-center">
                        <img src="/assets/img/Puppet show-pana.png" class="card-img-top" alt="Serviço 2">
                        <div class="card-body">
                            <h5>TEATRO</h5>
                            <p class="card-text"></p>
                            <span class="stretched-link"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4">
                    <a href="#" class="card text-center">
                        <img src="/assets/img/Music-bro.png" class="card-img-top" alt="Serviço 3">
                        <div class="card-body">
                            <h5>MÚSICA</h5>
                            <p class="card-text"></p>
                            <span class="stretched-link"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <a href="#" class="card text-center">
                    <img src="/assets/img/Art lover-pana.png" class="card-img-top" alt="Serviço 1">
                    <div class="card-body">
                        <h5>ARTES VISUAIS</h5>
                        <p class="card-text"></p>
                        <span class="stretched-link"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="#" class="card text-center">
                    <img src="/assets/img/Film rolls-amico.png" class="card-img-top" alt="Serviço 2">
                    <div class="card-body">
                        <h5>CINEMA</h5>
                        <p class="card-text"></p>
                        <span class="stretched-link"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="#" class="card text-center">
                    <img src="/assets/img/Flamenco dance-amico.png" class="card-img-top" alt="Serviço 3">
                    <div class="card-body">
                        <h5>DANÇA</h5>
                        <p class="card-text"></p>
                        <span class="stretched-link"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2024 Feras. Todos os direitos reservados.</p>
    </footer>

    <section class="sislame">
        <div class="container">
            <h1 class="sislame-title">Quem pode aderir ao <b>SisLAME</b>? </h1>
            <div class="row">
                <div class="col-sm-9">
                    <ul>
                        <li class="mb-4">Secretarias municipais e estaduais de educação, com o objetivo de modernizar a
                            gestão da rede e de suas escolas, permitindo maior eficácia dos processos administrativos e
                            seu monitoramento em tempo real.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>