body {
    background-color: #f8f9fa;
}

.carousel-inner img {
    padding: 60px;
    height: 350px;
    object-fit: fill;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
}

footer {
    background-color: #407ab8;
    height: 50px;
}
#logo-container {
    display: flex;
    justify-content: right;
    align-items: right;   
    height: 150px;          
    width: 150px;           
    background-color: #f1f1f1; 
    border-radius: 50%;
    margin-left: 36cm;      
}

#logo-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
} 

.custom-card {
    max-width: 350px; 
    height: 370px; 
    margin-bottom: 2.5cm; 
    margin-left: 1.5cm;
    padding: 12px;
    
}

.custom-row {
    row-gap: 15px;
    column-gap: 0; 
}

.custom-card img {
    max-height: 300px; 
    object-fit: fill; 
}